body {
    background-color: #181818;
    color: #ffffff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #292929;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

h1 {
    color: #0096FF;
}

.input-area {
    margin: 20px 0;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 200px;
}

button {
    cursor: pointer;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
}

#copy-button {
    background-color: #007BFF;
    color: white;
}

.green-button {
    background-color: #28a745;
    color: white;
}

.blue-button {
    background-color: #007BFF;
    color: white;
}

.button-area {
    margin-top: 10px;
}
